@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);



body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
}
.display-2 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 3rem;
}
.display-4 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #bbbbbb !important;
}
.bg-info {
  background-color: #096693 !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #ff000e !important;
}
.btn-primary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 100px;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 100px;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary:hover:before,
.btn-secondary:focus:before,
.btn-secondary.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-info {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #05344b;
  border-color: #05344b;
  border-radius: 100px;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #096693 !important;
  border-color: #096693 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #05344b !important;
  border-color: #05344b !important;
}
.btn-info:hover:before,
.btn-info:focus:before,
.btn-info.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #05344b !important;
  border-color: #05344b !important;
}
.btn-success {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #959595;
  border-color: #959595;
  border-radius: 100px;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #959595 !important;
  border-color: #959595 !important;
}
.btn-success:hover:before,
.btn-success:focus:before,
.btn-success.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #959595 !important;
  border-color: #959595 !important;
}
.btn-warning {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #000000;
  border-color: #000000;
  border-radius: 100px;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning:hover:before,
.btn-warning:focus:before,
.btn-warning.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #b3000a;
  border-color: #b3000a;
  border-radius: 100px;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ff000e !important;
  border-color: #ff000e !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #b3000a !important;
  border-color: #b3000a !important;
}
.btn-danger:hover:before,
.btn-danger:focus:before,
.btn-danger.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b3000a !important;
  border-color: #b3000a !important;
}
.btn-black {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  border-radius: 100px;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover:before,
.btn-black:focus:before,
.btn-black.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 100px;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover:before,
.btn-white:focus:before,
.btn-white.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 100px;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 100px;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #096693;
  border-color: #096693;
  border-radius: 100px;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #032333;
  color: #032333 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #096693;
  border-color: #096693;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #096693 !important;
  border-color: #096693 !important;
}
.btn-success-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  border-radius: 100px;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #888888;
  color: #888888 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
}
.btn-warning-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #000000;
  border-color: #000000;
  border-radius: 100px;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ff000e;
  border-color: #ff000e;
  border-radius: 100px;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #990008;
  color: #990008 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #ff000e;
  border-color: #ff000e;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff000e !important;
  border-color: #ff000e !important;
}
.btn-black-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #333333;
  border-color: #333333;
  border-radius: 100px;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 100px;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white-outline:hover:before,
.btn-white-outline:focus:before,
.btn-white-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #bbbbbb !important;
}
.text-info {
  color: #096693 !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #ff000e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cccccc !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #888888 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #032333 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #990008 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #bbbbbb;
}
.alert-info {
  background-color: #096693;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #ff000e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fbfbfb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #2ab1f2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffcccf;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffffff;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .3rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffffff;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffffff;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: contrast(currentColor, #000000, #ffffff, 30%);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rjnvNDFOqs .mbr-overlay {
  background: #000000;
}
.cid-rjnvNDFOqs .mbr-section-title {
  margin: 0;
}
.cid-rjnvNDFOqs H1 {
  color: #000000;
}
.cid-rjnvNDFOqs .mbr-section-subtitle,
.cid-rjnvNDFOqs mbr-section-btn {
  color: #000000;
}
.cid-rjnvNDFOqs .mbr-section-subtitle,
.cid-rjnvNDFOqs mbr-section-btn B {
  color: #ffffff;
}
.cid-rlbKmN4Cdk {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rlbKmN4Cdk .container-fluid {
  padding: 0 3rem;
}
.cid-rlbKmN4Cdk .mbr-section-title {
  color: #ff000e;
  text-align: left;
}
.cid-rlbKmN4Cdk .btn {
  margin-top: 0;
}
.cid-rlbKmN4Cdk .media-container-column {
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .cid-rlbKmN4Cdk .container-fluid {
    padding: 0 1rem;
  }
  .cid-rlbKmN4Cdk .btn {
    margin-top: 0.4rem;
  }
  .cid-rlbKmN4Cdk .mbr-section-btn {
    margin: 0;
  }
}
.cid-rlbKmN4Cdk .mbr-section-subtitle {
  text-align: right;
  color: #ffffff;
}
.cid-rkDzOZCgav {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/mbr-1920x1078.jpg");
}
.cid-rkDzOZCgav .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rkDzOZCgav .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rkDzOZCgav .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rkDzOZCgav .mbr-text {
    text-align: center;
  }
}
.cid-rkDzOZCgav .mbr-text,
.cid-rkDzOZCgav .mbr-section-btn {
  text-align: center;
  color: #360a0a;
}
.cid-rkDzOZCgav H1 {
  text-align: center;
  color: #ffffff;
}
.cid-rkDzOZCgav B {
  color: #360a0a;
}
.cid-rlcEbsJlHx {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #702642;
}
@media (min-width: 992px) {
  .cid-rlcEbsJlHx .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rlcEbsJlHx .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rlcEbsJlHx .mbr-text {
    text-align: center;
  }
}
.cid-rlcEbsJlHx .mbr-text,
.cid-rlcEbsJlHx .mbr-section-btn {
  text-align: center;
}
.cid-rlcEbsJlHx H1 {
  text-align: center;
}
.cid-rlbEwd6Y67 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rlbEwd6Y67 .container-fluid {
  padding: 0 3rem;
}
.cid-rlbEwd6Y67 .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  display: inline-block;
}
.cid-rlbEwd6Y67 .card {
  display: block;
}
.cid-rlbEwd6Y67 .card .card-wrapper {
  height: 1%;
}
.cid-rlbEwd6Y67 .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-rlbEwd6Y67 .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-rlbEwd6Y67 .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-rlbEwd6Y67 .text-row {
  -webkit-align-self: center;
  align-self: center;
}
@media (max-width: 767px) {
  .cid-rlbEwd6Y67 .container-fluid {
    padding: 0 1rem;
  }
  .cid-rlbEwd6Y67 .text-row {
    padding-bottom: 1rem;
  }
}
.cid-rlbEwd6Y67 .mbr-text,
.cid-rlbEwd6Y67 .card-btn {
  color: #000000;
}
.cid-rlbEwd6Y67 .mbr-section-title,
.cid-rlbEwd6Y67 .underline {
  color: #000000;
  text-align: left;
}
.cid-rlbEwd6Y67 .mbr-text,
.cid-rlbEwd6Y67 .card-btn B {
  color: #000000;
}
.cid-rllP9k3pGt {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rllP9k3pGt .container-fluid {
  padding: 0 3rem;
}
.cid-rllP9k3pGt .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  display: inline-block;
}
.cid-rllP9k3pGt .card {
  display: block;
}
.cid-rllP9k3pGt .card .card-wrapper {
  height: 1%;
}
.cid-rllP9k3pGt .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-rllP9k3pGt .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-rllP9k3pGt .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-rllP9k3pGt .text-row {
  -webkit-align-self: center;
  align-self: center;
}
@media (max-width: 767px) {
  .cid-rllP9k3pGt .container-fluid {
    padding: 0 1rem;
  }
  .cid-rllP9k3pGt .text-row {
    padding-bottom: 1rem;
  }
}
.cid-rllP9k3pGt .mbr-text,
.cid-rllP9k3pGt .card-btn {
  color: #000000;
}
.cid-rllP9k3pGt .mbr-section-title,
.cid-rllP9k3pGt .underline {
  color: #ffffff;
  text-align: left;
}
.cid-rllP9k3pGt .mbr-text,
.cid-rllP9k3pGt .card-btn B {
  color: #000000;
}
.cid-rjrKrUBgQP {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rjrKrUBgQP .container-fluid {
  padding: 0 3rem;
}
.cid-rjrKrUBgQP .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(to right, #ffffff 50%, #ffffff 120%);
  display: inline-block;
}
.cid-rjrKrUBgQP .mbr-section-subtitle {
  color: #767676;
}
.cid-rjrKrUBgQP .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-rjrKrUBgQP .table-wrapper {
  margin: 0 auto;
}
.cid-rjrKrUBgQP table {
  width: 100% !important;
  margin-top: 6px;
  margin-bottom: 0;
}
.cid-rjrKrUBgQP table th {
  padding: 1.5rem 1rem;
  transition: all .2s;
  text-align: center;
  background-color: #c1c1c1;
  color: white;
  vertical-align: middle;
}
.cid-rjrKrUBgQP table td {
  padding: 1.2rem 1.6rem;
  vertical-align: middle;
}
.cid-rjrKrUBgQP tr:hover {
  background-color: #efefef !important;
}
.cid-rjrKrUBgQP .table-striped tbody tr:nth-of-type(odd) {
  background: none;
}
.cid-rjrKrUBgQP .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-rjrKrUBgQP .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-rjrKrUBgQP .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-rjrKrUBgQP .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
  text-align: left;
  width: 100%;
}
.cid-rjrKrUBgQP .dataTables_wrapper {
  display: block;
}
.cid-rjrKrUBgQP .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-rjrKrUBgQP .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-rjrKrUBgQP .head-item:after,
.cid-rjrKrUBgQP .head-item:before {
  bottom: 50% !important;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
}
@media (max-width: 992px) {
  .cid-rjrKrUBgQP .dataTables_filter {
    text-align: center;
  }
  .cid-rjrKrUBgQP .table-wrapper {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .cid-rjrKrUBgQP .dataTables_filter {
    text-align: center;
  }
  .cid-rjrKrUBgQP .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cid-rjrKrUBgQP .container-fluid {
    padding: 0 1rem;
  }
  .cid-rjrKrUBgQP table th,
  .cid-rjrKrUBgQP table td {
    padding: .75rem;
  }
}
.cid-rjrKrUBgQP .body-item {
  text-align: center;
  color: #000000;
}
.cid-rjrKrUBgQP .head-item {
  color: #000000;
}
.cid-rjrKrUBgQP .mbr-section-title,
.cid-rjrKrUBgQP .underline {
  text-align: left;
}
.cid-rjrKrUBgQP .mbr-section-title,
.cid-rjrKrUBgQP .underline B {
  color: #000000;
}
.cid-rjrKrUBgQP .info DIV {
  color: #ffffff;
}
.cid-rjrKrUBgQP LABEL {
  color: #ffffff;
}
.cid-rjrKrUBgQP .head-item B {
  color: #000000;
}
.cid-rlc1EMOmrN {
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/mbr-2-1920x1275.jpg");
}
.cid-rlc1EMOmrN .mbr-iconfont-social {
  font-size: 32px;
  color: #000000;
  margin-left: .5rem;
  margin-right: .5rem;
}
.cid-rlc1EMOmrN .mbr-iconfont-social:hover {
  color: #ff000e;
}
.cid-rlc1EMOmrN .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rlc1EMOmrN .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  display: inline-block;
}
.cid-rlc1EMOmrN .social-list a:focus {
  text-decoration: none;
}
@media (max-width: 767px) {
  .cid-rlc1EMOmrN .mbr-iconfont-social {
    margin-left: .2rem;
    margin-right: .2rem;
  }
}
.cid-rlc1EMOmrN .mbr-section-title,
.cid-rlc1EMOmrN .social-list,
.cid-rlc1EMOmrN .underline {
  text-align: center;
  color: #ffffff;
}
.cid-rlc1EMOmrN .mbr-section-title,
.cid-rlc1EMOmrN .social-list,
.cid-rlc1EMOmrN .underline B {
  color: #000000;
}
.cid-rjrJN5t932 {
  padding-top: 60px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rjrJN5t932 .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rjrJN5t932 .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  display: inline-block;
}
.cid-rjrJN5t932 .container-fluid {
  padding: 0 3rem;
}
.cid-rjrJN5t932 .mbr-iconfont {
  color: #000000;
  font-size: 1.6rem;
}
.cid-rjrJN5t932 .mbr-iconfont:hover {
  color: #cccccc;
}
.cid-rjrJN5t932 .image-wrap img {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}
.cid-rjrJN5t932 .mbr-title {
  margin-bottom: 0;
}
.cid-rjrJN5t932 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rjrJN5t932 .social-media ul li {
  margin-right: .8rem;
  display: inline-block;
}
.cid-rjrJN5t932 .card-wrap {
  padding: 0 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .cid-rjrJN5t932 .card-wrap {
    padding: 0 1rem;
  }
  .cid-rjrJN5t932 .container-fluid {
    padding: 0 1rem;
  }
  .cid-rjrJN5t932 .mbr-role {
    margin-top: .5rem;
  }
}
.cid-rjrJN5t932 .mbr-section-title,
.cid-rjrJN5t932 .underline {
  text-align: left;
  color: #000000;
}
.cid-rjrJN5t932 .mbr-section-title,
.cid-rjrJN5t932 .underline B {
  color: #ffffff;
}
.cid-rjrJN5t932 .social-media,
.cid-rjrJN5t932 .image-wrap,
.cid-rjrJN5t932 .mbr-title B {
  color: #000000;
}
.cid-rjrJN5t932 .mbr-section-subtitle {
  color: #000000;
}
.cid-rjrJN5t932 .mbr-role {
  color: #000000;
}
.cid-rjrJN5t932 .social-media,
.cid-rjrJN5t932 .image-wrap,
.cid-rjrJN5t932 .mbr-title {
  color: #ffffff;
}
.cid-rjnAxlBDCB {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-rjnAxlBDCB .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4rem;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
}
.cid-rjnAxlBDCB .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rjnAxlBDCB .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rjnAxlBDCB .logo-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
}
.cid-rjnAxlBDCB .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.9rem;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;
  background-color: #ff000e;
  width: 4em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-rjnAxlBDCB .icon-transition span:hover {
  background-color: #ffffff;
}
.cid-rjnAxlBDCB .mbr-text {
  color: #cccccc;
}
@media (max-width: 991px) {
  .cid-rjnAxlBDCB .social-media {
    justify-content: center;
    padding-right: 0rem;
    -webkit-justify-content: center;
  }
  .cid-rjnAxlBDCB .logo-section {
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
    -webkit-justify-content: center;
  }
  .cid-rjnAxlBDCB .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-rkB0uuhf45 {
  overflow: hidden !important;
  background-image: url("../../../assets/images/xso8cocb7z8-1920x1080.jpg");
}
.cid-rkB0uuhf45 .container-fluid {
  padding: 0 5rem;
}
.cid-rkB0uuhf45 .animated-element {
  color: #efefef;
}
.cid-rkB0uuhf45 .img-block {
  -webkit-align-self: center;
  align-self: center;
}
@media (max-width: 1199px) {
  .cid-rkB0uuhf45 .mbr-figure img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cid-rkB0uuhf45 .container-fluid {
    padding: 0 1rem;
  }
  .cid-rkB0uuhf45 .mbr-figure {
    margin-top: 1rem;
  }
}
.cid-rkB0uuhf45 .mbr-section-subtitle,
.cid-rkB0uuhf45 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-rkB0uuhf45 .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-rkBQ9H2xWr {
  background-image: url("../../../assets/images/mbr-1920x1276.jpg");
}
.cid-rkBQ9H2xWr .mbr-overlay {
  background: #000000;
}
.cid-rkBQ9H2xWr .mbr-section-title {
  margin: 0;
}
.cid-rkBQ9H2xWr .mbr-text,
.cid-rkBQ9H2xWr .mbr-section-btn {
  text-align: left;
}
